*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
.navbar-nav ul li a:hover
{
       color: brown!important;
}
a{
    text-decoration: none;
    color: #555
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 45px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: max-height .2s ease-out;
}

.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff, #A0522D);
}
.header .row{
    margin-top: 70px;
}
.categories{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-3{
    height: 350px;
    max-height: 100%;
    max-width: 100%;
}
.col-3 img{
    width: 30%;

}

/*------Featured Garage Sales------*/
.pic{  
    height: 621px;
    max-height: 239px;
    max-width: 353px;
    margin: 28px;
}

.small-container{
    max-height: fit-content;
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title1{
    text-align: center;
    margin-top: 110px;
    margin-bottom: 40px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title1::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.col-4:hover{
    transform: translateY(-5px);
}
/*------Offer------*/

.Offer{
    background: radial-gradient(#fff, #A0522D);
    margin-top: 80px;
    padding: 30px 0;
    text-align: center;
}
.col-2 .Offer-img{
    padding: 50px;
}
.small{
    color:#555
}

/*------ Testimonials ------*/

.testimonials{
    padding-top: 30px;
}
.testimonials .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0,1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonials .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonials .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.col-3 p{
    font-size: 15px;
    margin: 12 px 0;
    color: #777;
}
.testimonials .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/*------footer------*/
.container-1{
    background: #000000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    padding-left: 30px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.Copyrght{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*------ media queries for menu ------*/

@media only screen and (max-width: 800px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: inline-block;
        cursor: pointer;
    }
}


/*------ Form------*/
.form-box{
    width: 100%;
    padding: 40px 0px;
}
.form-box form input{
    width: 100%;
    height: 30px;
    margin-bottom: 4px;
    padding: 0px 20px;
}
.form-radio{
    width: 1% ;
    height: 10px;
    margin-bottom: 4px;
    padding: 0px 6px;

}
/*------ About Us ------*/

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2% 0;
}

/*------ FAQ's ------*/
.small-container-4{
    background: radial-gradient(#fff, #A0522D);
    text-align: center;
}

.faqs{
    text-align: justify;
    margin: 10px 20px;
    padding: 40px;
    cursor: pointer;
    justify-content: space-around;
}

.details{
    background-color: #b5b5b5;
    border:;
    padding: 10px;
}


/*------ Contact form -------*/
.small-container-8{
    padding: 0;
    margin: 0;
    line-height: 1.5;
    box-sizing: border-box;
    color: black;
}
.small-container-8{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.form-left h8{
    color: black;
}
.form-sec{
    margin-top: 5rem;
    grid: 5rem;
    grid-template-columns: repeat(2, 1fr) ;
}

.form-left h8{
    color: black;
    padding: 0;
    margin: 0;
}
.form-right img {
    width: 80px;
    height: 80px;
}

/*media query for less than 600 screen size*/
@media only screen and (max-width: 800px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}